body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Be Vietnam", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
  font-family: "Be Vietnam", sans-serif;
}
.w-100 {
  width: 100%;
}

.ant-layout.ant-layout-has-sider {
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 100vh;
}
.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #001529 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.login-bg {
  /* background-image: url("assets/img/login-bg.jpg"); */
  background-color: #fff;
  height: 100vh;
  background-size: cover;
}

.login-form-div {
  margin-top: 10rem;
  border-radius: 0px;
  background: #ffffff;
  /* border: 1px #001529 solid; */
  box-shadow: 0 0 24px gainsboro;
}
.text-center {
  text-align: center;
}

.login-form {
  padding: 5rem;
}

.ant-list-vertical .ant-list-item-meta-title {
  margin-bottom: 0px !important;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 24px;
}
.ant-list-vertical .ant-list-item-meta {
  margin-bottom: 1px !important;
}
.list-display span {
  font-weight: 500;
  font-size: 14px;
  padding-right: 12px;
  margin-top: 10px;
  display: inline-block;
}
.color-o {
  color: orange;
}
.color-g {
  color: green;
}
.list-display p {
  font-weight: 500;
  font-size: 14px;
  padding-right: 12px;
  margin-top: 10px;
}

.item-center {
  display: flex;
  align-items: center;
}

.list-username span {
  font-weight: 500;
  font-size: inherit;
  padding-right: initial;
  display: unset;
  margin-right: 9px;
  font-size: 13px;
}

.title-card {
  background: #001a35;
  padding: 8px 4px;
  font-size: 16px;
}
.title-card h4 {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.ant-list-items {
  margin: 0;
  padding: 0px 7px !important;
  list-style: none;
}

.ant-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px !important;
  padding: 4px 11px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff0 !important;
  background-image: none;
  border: 1px solid #eaeaea !important;
  border-radius: 87px !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ffffff !important;
}

.login-form .ant-input-prefix i {
  color: #081529 !important;
}
.login-form {
  width: 75%;
  margin: auto !important;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mt-1 {
  margin-top: 1rem;
}

.login-title {
  font-size: 24px;
  color: #001529;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.login-form-forgot {
  float: right;
  color: #5a5a5d;
}
.login-button-style {
  width: 25%;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #244769 !important;
}
.ant-menu-item-selected {
  color: #001a35 !important;
  font-weight: 500 !important;
  font-size: 13px !important;
}
.ant-menu-item > a {
  display: block;
  color: #fff !important;
}
.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 16px;
  overflow: hidden;
  font-size: 13px !important;
  line-height: 40px;
  text-overflow: ellipsis;
  font-weight: 500 !important;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid #001a35 !important;
  -webkit-transform: scaleY(0.0001);
  -ms-transform: scaleY(0.0001);
  transform: scaleY(0.0001);
  opacity: 0;
  -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
}

.list-img {
  width: 40%;
  overflow: hidden;
  height: 16rem;
  float: left;
  margin: auto;
  display: flex;
  align-items: center;
  background: #f0f2f5;
}
.list-img:hover img {
  transform: scale(1.5);
}

.list-img img {
  object-fit: contain;
  width: 100%;
  margin: auto;
  min-height: 16rem !important;
  max-height: 16rem !important;
  transition: transform 0.9s ease;
}
.listing-contant {
  width: 60%;
  float: left;
  padding: 1rem;
}
.list-name {
  font-size: 16px;
  font-weight: 600;
  color: #001a35;
}
.list-name-imp {
  font-size: 13px;
  color: #252525d1;
  font-weight: 500;
  margin-top: 0.6rem;
}

.list-name-imp i {
  padding-right: 5px;
}
.color-r {
  color: red;
}
.ant-btn > i,
.ant-btn > span {
  display: initial !important;
  -webkit-transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;
  margin-right: initial;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem !important;
}
.ml-a {
  margin-left: auto;
}
.list-card {
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
  box-shadow: 0 0 10px #e2e2e2;
  border: 1px #e4e4e4 solid;
}
@import url("https://fonts.googleapis.com/css?family=Mukta:700");

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.cus-btn {
  width: 6rem;
  height: auto;
  border: 2px #282936 solid;
  border-radius: 30px;
  margin-right: 10px;
}
button.cus-btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2rem;
  height: 2rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.cus-btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.cus-btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 0.6rem;
  height: 0.125rem;
  background: none;
}
button.cus-btn:hover .circle .icon.arrow {
  width: 1rem;
}
button.cus-btn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.cus-btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.34rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: capitalize;
  font-size: 13px;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

/* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.ant-carousel .slick-slide {
  line-height: 0px !important;
  background: #364d79;
  overflow: hidden;
}

.listing-map-div {
  height: 18rem;
  margin-top: 1rem;
  overflow: hidden;
  margin: 1rem;
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: #fff !important;
  font-weight: 500;
  background: rgb(63, 63, 63) !important;
  border: 2px rgb(63, 63, 63) solid;
}
.ant-tabs-ink-bar {
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2px;
  background-color: #000000 !important;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  display: none !important;
}
.ant-tabs-nav .ant-tabs-tab:last-child {
  margin-right: 0;
  border: 2px rgb(63, 63, 63) solid;
  font-weight: 500;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: #b5b4b4 !important;
}

.ant-tabs-nav .ant-tabs-tab {
  border: 2px rgb(63, 63, 63) solid;
  font-weight: 500;
}
.ant-tabs-nav .ant-tabs-tab {
  margin: 0 7px 0 0 !important;
}
.ant-tabs-nav-container {
  margin-bottom: 3px !important;
}

.route-name {
  font-size: 13px;
  font-weight: 500;
  color: #8c8c8c;
  padding-bottom: 10px;
}
.route-name i {
  padding-right: 10px;
  padding-left: 15px;
}

.route-title {
  font-size: 15px;
  font-weight: 700;
  color: #001a35;
  margin-bottom: 10px;
}

.mb-1 {
  margin-bottom: 1rem;
}
.my-card {
  box-shadow: 0 0 15px #ababab;
}
.route-card {
  box-shadow: 0 0 15px #ababab;
  margin: 1rem;
  padding: 1rem;
}
.route-card-map {
  height: 18rem;
  overflow: hidden;
}
.f-r {
  float: right;
}
.route-list-card {
  box-shadow: 0 0 15px #ababab;
  margin-top: 1.5rem;
  padding: 1rem;
}
.color-y {
  color: orange !important;
}
.routes .ant-tag {
  font-size: 15px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 6px;
}
.routes span {
  font-weight: 600;
}

.routes .route-map {
  margin-top: 0.5rem;
  height: 15rem;
  overflow: hidden;
}
.mb-2 {
  margin-bottom: 2rem;
}
.route-list .ant-tag {
  font-size: 13px;
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 1rem;
}
.route-list i {
  font-size: 17px;
  padding-right: 10px;
  color: #040404;
}
.route-title {
  font-weight: 600;
  color: #000;
  padding-right: 1rem;
}
.p-1 {
  padding: 0 1rem;
}
.mt--2 {
  margin-top: -2rem;
}

.percent-text {
  text-anchor: middle;
  font-family: "Roboto", sans-serif;
  fill: rgb(63, 63, 63) !important;
}
.route-maintitle {
  background: #001a35;
  padding: 6px 0px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.route-name-h3 {
  color: #fff;
  margin: 0;
}

.mt-0-5 {
  margin-top: 0.5rem;
}
.commands-info {
  color: #ff9800 !important;
  font-size: 15px;
  padding-left: 8px;
}
.ant-page-header-heading-title {
  display: block;
  float: left;
  margin-bottom: 0;
  padding-right: 12px;
  color: rgb(15, 39, 65) !important;
  font-weight: 600;
  font-size: 17px !important;
  line-height: 34px;
}
.ant-page-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
  position: relative;
  padding: 2px 24px !important;
  background-color: #fff;
  box-shadow: 0 0 0px black;
}
.d-block {
  display: block;
}
.username-details {
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-0-5 {
  padding-left: 0.5rem;
}

.color-light {
  color: #ccc !important;
}
.meter-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}
.meter-poits {
  background: #001a35;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 0.5rem;
  width: 70%;
  margin: auto;
}
.meter-poits h4 {
  color: #fff !important;
  margin: 0;
}
.user-total-poits {
  background: #001a35;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  padding: 0.3rem;
  width: 180px;
  margin: auto;
  margin-right: 0;
}
.user-total-poits h4 {
  color: #fff !important;
  margin: 0;
}
.ant-tabs-nav .ant-tabs-tab {
  padding: 7px 15px !important;
}

.logout-btn {
  float: right;
  padding-right: 10px;
  color: #7d7d7d !important;
  font-size: 13px !important;
  margin-top: 0.9rem !important;
}
.mr-2 {
  margin-right: 2rem;
}
.ant-menu {
  background: #001529 !important;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid #2196f3 !important;
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
}
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none !important;
}
.logo img {
  width: 100px !important;
  margin: auto;
  display: block;
  padding: 1rem;
}
.layout-left {
  margin-left: 200px;
}
.ant-layout-sider-collapsed .layout-left {
  margin-left: 80px !important;
}
.ant-layout-sider {
  overflow-x: hidden !important;
}

.ant-list-item .route-list-card {
  margin-top: 0rem;
}
.ant-tabs .ant-tabs-left-bar .ant-tabs-tab,
.ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
  display: block;
  float: none;
  margin: 0px 4px 16px 0 !important;
  padding: 5px 24px !important;
  text-align: center !important;
}
.pr-0-5 {
  padding-right: 0.5rem;
}
.map-datails {
  padding: 1rem;
  border: 1px #e6e4e4 solid;
  margin-bottom: 1rem;
}

.map-datails p {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  margin-top: 7px;
  color: #8c8c8c;
}
.map-datails .left {
  width: 70%;
  float: left;
}
.map-datails .right {
  width: 30%;
  float: left;
}
.map-datails .right img {
  width: 100%;
  margin: auto;
  display: block;
  object-fit: contain;
}
.map-datails .right .fixed-img {
  width: 150px;
  height: 120px;
  background: #f0f2f5;
  display: flex;
  align-items: center;
  margin: auto;
  margin-left: auto;
  margin-right: 0;
  overflow: hidden;
}
.ant-input-affix-wrapper .ant-input {
  min-height: 100%;
  color: #545454 !important;
}
.ml-1 {
  margin-left: 1rem !important;
}

.ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #001529 !important;
}
.ant-pagination-item-active a {
  color: #001529 !important;
}

.login-left-bg {
  background: #001529;
  height: 100vh;
  display: flex !important;
  align-items: center;
}
.login-left-bg img {
  width: 150px;
  margin: auto;
  display: block;
}
.back-button {
  float: right;
}
.ant-tabs-nav-wrap {
  margin-bottom: 0px !important;
  overflow: hidden;
}
.ant-tabs {
  display: inline;
}

.ant-btn-background-ghost.ant-btn-primary {
  z-index: 1000 !important;
  color: #ffffff !important;
  background-color: #ff9800 !important;
  border-color: #ff9800 !important;
}

.preview-btn {
  background: #3366ff;
  border-color: #3366ff;
  color: #fff;
  border: none;
  border-radius: 64px;
}
